* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  #fname,
  #lname,
  #email, 
  #subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #spid{
    background-color: #b1b40d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  #spid:hover {
    background-color: #a77427;
  }

  #imgId{
    width:100%;
  }
  #contH{
    text-align:center
  }
  
  /* Style the container/contact section */
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2ad;
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }